.dashboardPage{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left{
    height: 100%;
    width: 20vw;
    background-color: pink;
}
.right{
    height: 100%;
    width: 80vw;
    background-color: bisque;

}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dbOptions h2{
    cursor: pointer;
}